@CHARSET "UTF-8";

#container
{
	width:800px;
	margin:0 auto;
}

#header-menu
{
	background-color:black;
}

#header-menu a
{
	text-decoration:none;
	font-weight:bold;
	padding-left:40px;
	color:white;
}